<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AngularJS filters</title>
</head>
<body ng-app="myApp">
    <div ng-controller="namesController">
        <label for="thefilter">Filtro:</label>
        <input id="thefilter" type="text" ng-model="filtro"/>

        <label for="thename">Nuevo nombre: </label>
        <input id="thename" type="text" ng-model="name" />
        <input type="button" ng-click="addName(name)" value="Add">

        <ul>
            <li ng-repeat="person in people | filter:filtro | orderBy:name track by $index">{{person.name}}</li>
        </ul>
      
        <img ng-show="showImg" src="https://pbs.twimg.com/media/B0PLvLtCYAAr5Oe.png:large">
    </div>

    <script src="../lib/angularjs/angular.min.js"></script>
    <script src="controllers/namesController.js"></script>
    <script src="app.js"></script>
</body>
</html>
