<div class="container" ng-controller="TodoController as cont">
    <header>
        <h1>Mis tareas</h1>

        <form name="newtask" class="new-task">
            <input type="text" name="text"
                   ng-model="newTodo.description"
                   ng-maxlength="50"
                   ng-required="true"
                   placeholder="Añade una nueva tarea"
                   ng-model-options="{ debounce: 200 }"
                   mi-validador>

            <input type="checkbox"
                   name="done"
                   ng-model="newTodo.done" />

            <select name="category"
                    ng-model="newTodo.category"
                    ng-options="cat.label group by cat.type for cat in cont.categorias">
                <option value="">Ninguna</option>

            </select>

                <div ng-show="newtask.$error.maxlength">Máximo 50 caracteres!!</div>
                <div ng-show="newtask.$error.required">Campo requerido!!</div>
            <div ng-show="newtask.$error.miValidador">No escribas "ANGULAR" !!</div>

            <button ng-disabled="newtask.$invalid"
                    ng-click="cont.addTodo(newTodo)">Añadir</button>

        </form>
    </header>

    <todo-list lista="cont.todos"
               titulo="Tareas pendientes"
               on-delete="cont.delete(item)"
               on-toggle="cont.toggle(item)"
               done="false">

    </todo-list>

    <todo-list lista="cont.todos"
               titulo="Tareas completadas"
               on-delete="cont.delete(item)"
               on-toggle="cont.toggle(item)"
               done="true">

    </todo-list>

</div>